body {
  background-color: #dcdcdc;
}
.header {
  background-color: #00aa00;
  width: 100%;
  z-index: 10;

}
.fas {
  font-size: 20px;
  padding: 10px;
}
.fa-angle-double-right {
  background-color: #00aa00;
}
.fa-angle-double-left {
  background-color: #00aa00;
}
.fa-bell {
  float: right;
  font-size: 20px;
  padding: 20px;
}
.login-form {
    float: right;
    font-size: 20px;
    padding: 20px;
}
a {
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}
.header p {
  padding-right: 50px;
  font-size: 30px;
  float: right;
}
.contents{
  padding: 10px;
  font-size: 10px;
  cursor: pointer;
}
.contents p {
    text-align: center;
}
*{
  padding: 0;
  margin: 0;
}
.main-place{
  width: 100%;
  text-align: center;
  padding-top: 30px;
}
.contents a{
  font-size: 20px;
  color: black;
  background-color: #aaa;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
}
.contents p{
font-size: 20px;
}
.slide-close {
  box-sizing:  border-box;
  opacity: 0.8;
  position: fixed;
  left: -150px; /*要　変更*/
  top: 0px;
  width: 200px;
  height: 450px;
}
.long-menu {
  width: 150px;
  padding-bottom: 100px;
  background-color: rgba(128, 128, 128, 1.0);
  float: left;
  z-index: 10;
}
.long-menu li {
  padding-top: 20px;
}
.nav1 {
  text-align: center;
  cursor: default;
}
.chart {
  font-size: 40px;
  z-index: 20;
}
.form-diary {
}
.text {
  resize: none;
  width: 50%;
  height: 100px;
  }
